.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;
}
.nav-btn {
  margin-top: 4rem;
  border: none;
  border-radius: 0;

  width: 4.5rem;
  height: 2px;
  background-color: #fff;

  &::before,
  &::after {
    content: "";
    width: 4.5rem;
    height: 2px;
    background-color: #fff;
    display: block;
  }

  &::before {
    transform: translateY(-1.5rem);
  }

  &::after {
    transform: translateY(1.3rem);
  }
}
